.start-game {
  text-align: center;
  color: black;
  h1 {
    margin-top: 20px;
    font-size: 3vw;
  }
  button {
    padding: 10px 25px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid gray;
    transition: 0.4s ease;
    cursor: pointer;
    &:hover {
      background-color: gray;
      color: white;
    }
  }
}

// liderboard
.liderboard {
  .title {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    input {
      width: 50%;
      padding: 10px;
    }
  }
  .rwd-table {
    background: #eeeeee;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 24px;
    margin: 20px auto;
    text-align: left;
    width: 80%;
    border: 0px;
    h1 {
      padding: 20px 5px;
      width: 350px;
    }
  }

  .rwd-table th {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
    border-bottom: 3px solid #b0bec5;
  }

  .rwd-table td {
    border-right: 0px solid #fff;
    border-left: 0px solid #e8e8e8;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
  }

  .rwd-table tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
  }

  .rwd-table tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
  }

  html {
    font-family: "Lato", sans-serif;
    background: #222;
  }
}

// try history table

.my_table {
  width: 60%;
  margin: 20px auto;
  table {
    border-collapse: collapse;
  }
  th {
    background: #ccc;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  tr:nth-child(even) {
    background: #efefef;
  }

  tr:hover {
    background: #d1d1d1;
  }
}
.guessing-game {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  h1 {
    color: black;
    font-size: 3rem;
    text-align: center;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;

    input {
      width: 8rem;
      padding: 0.7rem 1rem;
      margin: 0 1rem;
      background-color: #eee;
      color: black;

      &:hover {
        background-color: #fff;
      }
    }
  }
  .message {
    width: 50%;
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
    gap: 10px;
    button {
      width: 10rem;
      padding: 1rem;
      cursor: pointer;
      color: black;
      background-color: #fff;
      transition: 0.3s ease;
      border: 1px solid gray;
      &:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}
.guessing-game {
  animation: slide-in-from-top 1s ease-in-out;
}

.inputs {
  animation: slide-in-from-left 1s ease-in-out;
}

.buttons {
  animation: slide-in-from-right 1s ease-in-out;
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
